body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.items {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 80vh;
    text-align: center;
    margin-left: 20px;
    color: white;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
}

.koltseg {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url(../img/koltseg.webp);
}

.kockazat {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url(../img/OIP.jfif);
}

.egyensuly {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url(../img/R.jfif);
}

.item-content {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.btn {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

@media (max-width: 1070px) {
    .items {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .koltseg{
        margin-top: 1600px;
    }

    .item {
        width: 80%;
        margin-left: 0;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .btn {
        width: 100%;
        padding: 12px;
    }
}
